#FavouriteHobby {
    display: grid;
    place-items: center;
    position: relative;
}

#FavouriteHobby > h1 {
    text-align: center;
}

.imgBg > img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

#sans {
    top: 15%;
    left: 75%
}

#steinsgate {
    top: 65%;
    left: 25%;
}

@media screen and (max-width: 400px){
    #sans {
        width: 30%;
        left: 65%;
    }

    #link {
        width: 50%;
    }

    #steinsgate {
        width: 75%;
        left: 12.5%;
    }

}