@font-face {
    font-family: Mustasurma;
    src: url("../assets/Mustasurma.ttf");
}
.myProjects {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 100%;
}


.myProjects > header {
    text-align: center;
    font-family: Mustasurma;
    font-size: min(11vw, 11vh);
    color: white;
    margin-top: 4vh;
    text-shadow: 7px 7px black;
}

.projectCardWrapper {
    transform: skew(3deg);
}

.projectCard {
    font-family: "Arsenal", sans-serif;
    margin-top: max(3%, 15px);
    margin-left: 10%;
    list-style-type: none;
    color: white;
    background-color: black;
    margin-right: 10%;
    padding: 3%;
    border: solid white 10px;
    position: relative;
    display: grid;
    grid-template-areas: 
    "heading  image image"
    "description image image";
    gap: 2em;
    
}


@media only screen and (max-width: 1048px)  {
    .projectCard {
        grid-template-areas: 
    "heading"
    "image"
    "description";
    padding: 3%;

    }   
}

.projectCardWrapper:hover {
    animation: shake 0.82s linear;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.projectCardWrapper:hover > .projectCard > * {
    animation: reverse-shake 0.82s linear;
    animation-iteration-count: infinite;
}

@keyframes reverse-shake {
    10%, 90% {
        translate: 4px 0;
    }
    
    20%, 80% {
      
        translate: -4px 0;
    }
  
    30%, 50%, 70% {
      
        translate: 4px 0;
    }
  
    40%, 60% {
        translate: -4px 0;
    }
}

@keyframes shake {
    10%, 90% {
        translate: -4px 0;
    }
    
    20%, 80% {
      
        translate: 4px 0;
    }
  
    30%, 50%, 70% {
      
        translate: -4px 0;
    }
  
    40%, 60% {
        translate: 4px 0;
    }
  }

.projectCard > * {
    transform: skew(-3deg);
}
.projectCard > h1 {
    grid-area: heading;
}

.projectCard > img {
    grid-area: image;
    width: 100%;
}

.projectCard > p {
    grid-area: description;
}

.projectCard > h1, .projectCard > img {
    margin-bottom: 3%;    
}

.projectCard > h1 {
font-size: 2.5rem;
}

.projectCard > p {
    font-size: 1.5rem;
}

.projectCard:after {
    content: '';
    display: block;
    position: absolute;
    top: -17px;
    bottom: -17px;
    left: -17px;
    right: -17px;
    z-index: -1;
    border-radius: 5px;
    border: 10px solid black;
}